<% layout("/layouts/boilerplate.ejs") -%>
<body>
    

    <div class="row">
        <div class="col-8 offset-2">
            
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <br>
        <h3>Create new listing</h3>
        <br>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Enter Title" name="listing[title]" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Title</div>
        </div>
        

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" placeholder="Enter Description" name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>

        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" placeholder="Enter Image url" name="listing[image][url]" class="form-control">
            <div class="invalid-feedback">Please enter valid image link</div>
        </div> -->

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" placeholder="Enter Image url" name="listing[image][url]" class="form-control">
            <div class="invalid-feedback">Please enter valid image link</div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input placeholder="Enter Price" name="listing[price]" class="form-control" required>
                <div class="invalid-feedback">Please enter valid price</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input type="text" placeholder="Enter Location" name="listing[location]" class="form-control" required>
                <div class="invalid-feedback">Please enter valid Location</div>
            </div>
            
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" placeholder="Enter Country" name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Country</div>
        </div>

        <button class="btn add-btn">ADD</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
</html>


